<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.nicezo.mapper.CourseMapper">
	<select id="selectCourseList" resultType="Course">
		select * from course order by course_id
	</select>
	<select id="selectCourseCount" resultType="int">
		select count(*) from course 
	</select>
</mapper>